body{
    margin: auto;
    padding: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

#indexVideo1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.txtPresent {
    position: absolute;
    top: 0%;
    left:41%;
    display: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke; 
}

.txtPresent p {
    font-size: 3em;
}

.txtPresent p{
    font-family: 'Monoton', cursive; 
}

.p{
    
}

.video1{
    position:absolute;
    align-items: center;
    top: 50%;
    bottom: center;
    left: 34%;
    right: center;

}

.p{
    font-family: 'Bungee Inline, cursive';
    font-size: 2em;
}

#navbar{
    position:absolute;
    top: 10%;
    left: 45.5%;
    bottom: center;
    font-family: 'Monoton', cursive;
    
}

 a:link{
    color:whitesmoke;
    text-decoration:none;
     
}
 
a:visited{
    color:whitesmoke;
    text-decoration:none;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: ; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
align-items: center;
position: absolute;
top: 0.5%;
width: 50%;
height: 50%;
}

.video-container2 {
position: relative;
padding-bottom: 56.25%;
padding-top: ; height: 0; overflow: hidden;
}

.video-container2 iframe,
.video-container2 object,
.video-container2 embed {
align-items: center;
position: absolute;
left: 50%;
width: 50%;
height: 50%;
}

