body{
    margin: auto;
    padding: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

#indexVideo1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.txtPresent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    right: 0;
    display: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke; 
}

.txtPresent p {
    font-size: 80px;
    font-weight: ;
}

.txtPresent p{
    font-family: 'Monoton', cursive;
}

.video1{
    position:absolute;
    align-items: center;
    top: 50%;
    bottom: center;
    left: 33%;
    right: center;

}

.p{
    font-family: 'Bungee Inline, cursive';
    font-size: 25px;
}

#navbar{
    position:absolute;
    top: 8px;
    left: 16px;
    font-family: 'Monoton', cursive;
    
}

 a:link{
    color:whitesmoke;
    text-decoration:none;
     
}
 
a:visited{
    color:whitesmoke;
    text-decoration:none;
}

